.navbar {
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 35px;
    min-height: 6.9vh;
    border-bottom: 0.1vh solid #fff;
    .navbarItem {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        flex: 1 1 30%;
        font-size: 0.8em;
        margin: 10px 0px;
        @media screen and(max-width: 1150px) {
            font-size: 0.6em;
        }
    }
    .back {
        justify-content: flex-start;
    }
    .next {
        justify-content: flex-end;
    }
    .menuButtons {
        display: none;
        padding: 2px;
        flex-direction: column;
        align-items: center;
        background-color: #000;
        margin-right: 20px;
        width: 28px;
        border-radius: 50px;
        &:hover{
            background-color: rgba(255, 255, 255, 0.1);
            .circle{
                background-color: #fff;
            }
        }
        .circle{
            margin: 2px 0px;
            width: 4px;
            height: 4px;
            border-radius: 20px;
            background-color: #fff;
        }
    }
    .menu {
        display: none;
        position: absolute;
        z-index: 1;
        right: 5px;
        top: 10.9vh;
        .navbarItem > * {
            padding: 10px;
            margin: 0px;
            background: #FFCD40;
            color: #000;
            font-size: 0.8em;
        }
    }
    @media screen and(max-width: 800px) {
        .menuButtons,
        .menu {
            display: flex;
        }
        .back,
        .next{
            display: none;
        }
        .current {
            justify-content: flex-start;
            margin-left: 20px;
        }
    }
}